/* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
} */

.login-page {
  position: relative;
  height: 100vh;
  animation: slide 15s infinite alternate;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2;
  height: 100%;
}

.login-box {
  background: black;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  color: white;
}

.logo-img {
  width: 200px;
  height: auto;
}

.login-button{
  margin-top: 5%;
  height: 50px;
}


.otp-inputs {
  gap: 10px;
}

.otp-box {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.otp-box:focus {
  border-color: #4e54c8;
  outline: none;
}

/* Footer */
.footer {
  position: relative;
  bottom: unset;
  bottom: 0;
  width: 100%;
  background: #333;
  padding: 1rem 0;
  margin-top: auto;
  color: white;
  height: 15%;
}

/* Background image slider */
@keyframes slide {
  0% { background-image: url('./../assets/0_sky-08.jpg'); }
  50% { background-image: url('./../assets/0_sky-08.jpg'); }
  100% { background-image: url('./../assets/0_sky-08.jpg'); }
}



