.card {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .status-action-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
  }
  
  
.table-badge {
  padding: 0.6rem 1rem; 
  font-size: 1rem; 
  min-width: 100px; 
  text-align: center;
  display: inline-block;
}


.table-btn {
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  min-width: 100px; 
  border-radius: 0.25rem; 
}



